.main {
  min-height: 100vh;
  padding: 0 0 0 0;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.main a {
  color: #0070f3;
  text-decoration: none;
}

.main a:hover,
.main a:focus,
.main a:active {
  text-decoration: underline;
}

.bg1 {
  background: #E0BBE4
}

.bg2 {
  background: #957DAD
}

.bg3 {
  background: #D291BC
}

.bg4 {
  background: #FEC8D8
}

.bg4 {
  background: #FFDFD3
}

@media (max-width: 600px) {}

@media (prefers-color-scheme: dark) {}